.shopping-cart {
  background-color: #f9f9f9;
}

.product-name > a {
  font-size: 16px;
}

.product-name .location {
  font-size: 13px;
}

.cart-date {
  padding-left: 0px;
  padding-right: 24px;
}

.cart-single-list .remove-item {
  color: #fff;
  background-color: #f44336;
  font-size: 8px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
}

.cart-single-list .remove-item:hover {
  color: #fff;
  background-color: #081828;
}

.cart-list-head {
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #eee;
}

.cart-list-title {
  background-color: #fff;
  padding: 18px 20px;
  border-bottom: 1px solid #eee;
}

.cart-list-title p {
  color: #081828;
  font-weight: 500;
  font-size: 14px;
}

.cart-single-list {
  padding: 30px 20px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.total-amount .left {
  width: 100%;
}

.shopping-cart .total-amount .coupon {
  width: 50%;
  padding: 40px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 40px;
  display: block;
  float: right;
}

.shopping-cart .total-amount .coupon input {
  width: 1em;
  height: 1em;
  /* border: 1px solid #dddddd; */
  border: 1px solid #333;
  overflow: hidden;
  border-radius: 4px;
  color: #333;
  padding: 0px;
  display: inline-block;
}

.shopping-cart .total-amount .coupon .button {
  display: inline-block;
}

.shopping-cart .total-amount .coupon button {
  border: none;
  height: 46px;
  display: inline-block;
  margin-left: 8px;
  position: relative;
  top: -2px;
}

.shopping-cart .total-amount .right {
  padding: 40px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 40px;
}

.shopping-cart .total-amount .right ul li {
  font-size: 14px;
  font-weight: 500;
  color: #081828;
  margin-bottom: 12px;
}

.shopping-cart .total-amount .right ul li span {
  display: inline-block;
  float: right;
}

.shopping-cart .total-amount .right ul li {
  font-size: 14px;
  font-weight: 500;
  color: #081828;
  margin-bottom: 12px;
}

.shopping-cart .total-amount .right .button {
  margin-top: 30px;
}

.shopping-cart .total-amount .right .btn {
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  padding: 12px 20px;
}

.shopping-cart .total-amount .right .btn:last-child {
  margin: 0;
}

.shopping-cart .total-amount .right .btn {
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  padding: 12px 20px;
}

.cart-imgs {
  padding: 0px;
}

.cart-product-name {
  padding: 0px 12px 0px 24px;
}

.cart-product-name .location {
  color: #888;
}

.cart-product-name .location i {
  color: #5394E3;
  display: inline-block;
  margin-right: 5px;
}

.reserve-info {
  width: 45%;
  padding: 40px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 40px;
  display: block;
  float: left;
}

.reserve-info ul li {
  font-size: 15px;
  font-weight: 500;
  color: #081828;
  margin-bottom: 12px;
}

.reserve-info li span {
  display: inline-block;
  float: right;
}

.reviews .single-review {
  position: relative;
  padding: 12px 18px 12px 80px;
}

.reviews .single-review .review-info {
  position: relative;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 20px;
}

.reviews .single-review .review-info h4 {
  font-size: 16px;
  font-weight: 500;
}

.reviews .single-review .review-info h4 span {
  font-size: 14px;
  display: block;
  color: #888;
  margin-top: 7px;
}

.reviews .single-review .review-info .stars {
  margin-top: 8px;
}

.reviews .single-review .review-info .stars li {
  display: inline-block;
  color: #ffa000;
  font-size: 14px;
}

.reviews .single-review .review-info p {
  margin-top: 15px;
}

.reviews .stars li .lni {
  display: inline-block;
  font: normal normal normal 1em/1 'LineIcons';
  color: inherit;
  flex-shrink: 0;
  speak: none;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reviews .single-review img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 40px;
}

/* 상품 qna 작성 */
.row_Q{
  margin: 0px auto;
  width: 600px;
}
.th_Q {
  background-color: #fbfbfb;
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
  padding-top: 12px;
  width:20%;
}
.input_Q {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}